<aside class="w-30 h-75" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 rounded dark:bg-gray-800">
    <ul class="space-y-1 alert alert-info">
      <% users.each do |user| %>
        <li class="border-teal-500 border-2">
          <%= link_to new_room_path(recipient_id: user.id), class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" do %>
            <span class="ml-3"><% if user.user_name != '' %>
            <%= user.user_name %>
          <% else %>
            <%= user.email %>
          <% end %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>

<!--          <div class="for_table">-->
<%# if params[:page].to_i === 0 %>
<%# counter = 1 %>
<%# else %>
<%# counter = 1 + (5 * (params[:page].to_i - 1)) %>
<%# end %>
<%# users.each do |user| %>
<!--              <button class="block" type="button" data-modal-toggle="defaultModal">-->
<!--                <div class="alert alert-info flex w-80">-->
<!--                  <div class="flex mr-2">-->
<%#= counter %>
<%# counter += 1 %>
<!--                  </div>-->
<!--                  <div class="flex">-->
<%# if user.user_name != '' %>
<%#= user.user_name %>
<%# else %>
<%#= user.email %>
<%# end %>
<!--                  </div>-->
<!--                </div>-->
<!--              </button>-->
<%# end %>
<!--          </div>-->


<%# end %>
