  <div class="our_messages" id="messages">
    <% @messages.each do |message| %>
      <% if message.sender_id == @user.id %>
        <div class="your" data-user_id=<% @user.id %>>
          <div class="message">
            <p class="text color time"><%= I18n.l(message.created_at, format: :message_time ) %> </p>
            <p class="text"><%= message.body %></p>
          </div>
        </div>
      <% else %>
        <div class="my">
          <div class="message">
            <p class="text color time"><%= I18n.l(message.created_at, format: :message_time ) %> </p>
            <p class="text"><%= message.body %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
