
<%= render 'layouts/header'  %>

<div class="chat-padding">
  <%= render 'users', users: @users_show, user_id: @user_id %>
</div>

  <div class="chat-pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <%= paginate @users_show %>
      </ul>
    </nav>
  </div>