
//.for_all {
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//  flex-direction: column;
//  background: #e7f2f8;
//  min-height: 96%;
//  min-width: 100%;
//  max-height: 96%;
//  max-width: 100%;
//}

.output {
  overflow: auto;
  min-height: 90.5%;
  min-width: 100%;
  max-height: 90.5%;
  max-width: 100%;
  //background: #daedf9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  background: #f4f4f4;
}

.name {
  border-bottom: solid;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  //background: #c4dff3;
}

.our_messages {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.messages {
  display: block;
  min-width: 100%;
  min-height: 100%;
  overflow: scroll;
}

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.your {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.my {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.our{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 10px;
  max-width: 80%;
  min-height: 50px;
  max-height: 50px;
  text-decoration: none;
  position: relative;
  color: #951d32;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  transition: .3s linear;
  margin: 0 6px;
}
.text {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}

.content{
  font-family: 'Capture', serif;
}

.text_field {
  width: 100%;
  height: 100%;
  max-lines: 2;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  color: #373642;
}

.time {
  font-size: x-small;
}

.two_forms {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

.for_websocket {
  margin-left: 50px;
}

.for_fetch {
  margin-left: 50px;
}

.scroll_messages{
  overflow: scroll;
}
.for_post{
  margin-right: 10px;
}
.abc{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}