// Place all the styles related to the user_chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{

}

.for_all{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #e1e1e1;
  height: 90%;
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
  border: 3mm ridge rgba(89, 102, 120, 0.6);
}
scroll-container {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.margin{
margin-right: 10px;
  margin-top: 3px;
}
.output{
  height: 80%;
  width: 80%;
  background: #c6c3c3;
  margin-top: 20px;
  border: solid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.input{
  margin-right: 650px;
  margin-top: 20px;
  height: 17%;
  width: 30%;
}
body{
  background: #f4f4f4;
}
 .name{
   border-bottom: solid;
   display: flex;
   color: #e5e3e3;
   align-items: center;
   justify-content: center;
   height: 7%;
   width: 100%;
   background: #9e9b9b;
 }
 .our_messages{
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   flex-direction: column;
   width: 100%;
   height: 100%;
 }
 .messages{
   display: block;
   width: 100%;
   height: 100%;
   overflow: scroll;
 }
 .dialog{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
 }

 .your{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
   flex-direction: column-reverse;
   margin-top: 10px;
 }

 .my{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
 }

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10px;
  max-width: 300px;
  min-height: 10px;
  text-decoration: none;
  position: relative;
  color: #766AD0;
  border: 1.5px solid #3A374C;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  transition: .3s linear;
  margin-bottom: 4px;
  margin-top: 5px;
  margin-right: 4px;
  margin-left: 4px;
}
.message:before, .message:after, .text:before, .text:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  transition: .3s linear;
}
.message:before {
  left: -1px;
  top: -1px;
  border-left: 1.5px solid #000000;
  border-top: 1.5px solid #000000;
}
.message:after {
  bottom: -1px;
  right: -1px;
  border-bottom: 1.5px solid #000000;
  border-right: 1.5px solid #000000;
}
.text:after {
  right: -1px;
  top: -1px;
  border-right: 1.5px solid #000000;
  border-top: 1.5px solid #000000;
}
.text:before {
  left: -1px;
  bottom: -1px;
  border-bottom: 1.5px solid #000000;
  border-left: 1.5px solid #000000;
}
.text{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}

.text_field{
  width: 100%;
  height: 100%;
  max-lines: 2;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.color{
  color: #373642;
}
.time{
  font-size: x-small;
}
.two_forms{
  display: flex;
  justify-content: center;
  align-content: center;
}
.for_websocket{
  margin-left: 50px;
}
.for_fetch{
  margin-left: 50px;
}
.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.small{

}